body {
    background-color: #121212;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    gap: 20px;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-content {
    /* Pegamos el reproductor a la parte superior de la ventana */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.video-container {
    width: 100%;
    max-width: 900px;
}

#videoPlayer {
    width: 100%;
    border-radius: 10px;
}

.list-toggle-container {
    margin-top: 222px; /* Asegura que el botón aparezca debajo del video fijo */
    width: 100%;
    max-width: 900px;
    text-align: right;
    align-self: center;
}

.video-list-container {
    width: max-content;
    max-width: 98%;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    align-self: center;
    margin-top: 0px; /* Espacio entre el botón y la lista */
    height: auto;
    opacity: 1;

    @media (min-width: 384px) {margin-top: 170px;}
    @media (min-width: 768px) {margin-top: 170px;}
    @media (min-width: 992px) {margin-top: 250px;}
}

.video-list-hidden {
    height: 0;
    opacity: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 2px solid #555;
    padding-bottom: 5px;
}

.video-list-container h2 {
    font-size: 1.5rem;
    margin: 0;
}

#toggleListBtn {
    background-color: #3b3b3b;
    color: #f0f0f0;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#toggleListBtn:hover {
    background-color: #555;
}

#videoList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.video-item {
    display: flex;
    align-items: center;
    background-color: #1c1c1c;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.video-item:hover {
    background-color: #333;
}

.video-thumbnail {
    width: 100px;
    height: 60px;
    background-color: #000;
    border-radius: 5px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-info {
    flex-grow: 1;
}

.video-info h4 {
    margin: 0;
    font-size: 0.9rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}