body {
    background-color: #121212;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    gap: 20px;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    z-index: 9999;
}

.main-content {
    /* Pegamos el reproductor a la parte superior de la ventana */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.video-container {
    width: 100%;
    max-width: 900px;
}

#videoPlayer {
    width: 100%;
    border-radius: 10px;
}

.list-toggle-container {
    width: 100%;
    max-width: 900px;
    text-align: right;
    align-self: center;
}

.video-list-container {
    width: max-content;
    max-width: 98%;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    align-self: center;
    height: auto;
    opacity: 1;
}

.video-list-hidden {
    height: 0;
    opacity: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 2px solid #555;
    padding-bottom: 5px;
}

.video-list-container h2 {
    font-size: 1.5rem;
    margin: 0;
}

#toggleListBtn {
    background-color: #1a1a1a;
    color: #f0f0f0;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bolder;
    text-align: center;

}

#toggleListBtn:hover {
    background-color: #fff;
    color: #1a1a1a;
    font-weight: bolder;
    text-align: center;
}

/* Nuevos estilos para el buscador */
.search-container {
    display: flex;
    align-items: center;
    background-color: #3b3b3b;
    border-radius: 5px;
    padding: 5px 10px;
    flex-grow: 1;
    margin: 0 10px;
}

#searchInput {
    background: transparent;
    border: none;
    color: #f0f0f0;
    outline: none;
    width: 100%;
    padding: 0;
}

.search-icon {
    color: #f0f0f0;
    font-size: 1.2em;
}

#videoList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.video-item {
    display: flex;
    align-items: center;
    background-color: #1c1c1c;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.video-item:hover {
    background-color: #333;
}

.video-thumbnail {
    width: 100px;
    height: 60px;
    background-color: #000;
    border-radius: 5px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-info {
    flex-grow: 1;
}

.video-info h4 {
    margin: 0;
    font-size: 0.9rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Ajustes de posicionamiento responsivo */
@media (min-width: 384px) {
    .list-toggle-container {
        margin-top: 217px;
    }
    .video-list-container {
        margin-top: 0px;
    }
}

@media (min-width: 768px) {
    .list-toggle-container {
        margin-top: 450px;
    }
    .video-list-container {
        margin-top: 15px;
    }
}

@media (min-width: 992px) {
    .list-toggle-container {
        margin-top: 510px;
    }
    .video-list-container {
        margin-top: 0px;
    }
}